<div>
    <span id="dominio_portale" class="hidden"><%=@dominio%></span>
    <span id="cf_utente_loggato" class="hidden"><%=@cf_utente_loggato%></span>
    <span id="numero_anni" class="hidden"><%=@numero_anni%></span>

</div>
